{% extends 'template.html' %}

{% block title %}
    DBook - Welcome
{% endblock %}

{% block header %}
    <a class="nav-link" href="/login">Login</a>
    <a class="nav-link" href="/register">Register</a>
{% endblock %}

{% block content %}
    <main role="main" class="inner cover">
        <img src="static/logo.png" alt="LOGO">
        <br>
        <h1 class="cover-heading">Welcome to DBook.</h1>
        <p class="lead">DBook is a simple Social Network.</p>
        <p class="lead">
            <a href="/register" class="btn btn-lg btn-secondary">Register</a>
        </p>
    </main>

    
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Made by <a href="https://github.com/shreeviknesh">Shreeviknesh</a> & <a href="https://github.com/sukavanan">Sukavanan</a></p>
        </div>
    </footer>
{% endblock %}