<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DBook</title>

    <!-- Bootstrap core CSS -->
<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="static/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">DBook</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <img src="static/logo.png" alt="LOGO">
    <h1 class="cover-heading">Welcome to DBook.</h1>
    <p class="lead">DBook is a simple Social Network.</p>
    <p class="lead">
      <a href="/register" class="btn btn-lg btn-secondary">Register</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Made by <a href="https://github.com/shreeviknesh">Shreeviknesh</a> & <a href="https://github.com/sukavanan">Sukavanan</a></p>
    </div>
  </footer>
</div>
</body>
</html>
