{% extends 'template.html' %}
{% block title %}
    DBook - Login
{% endblock %}

{% block header %}
    <a class="nav-link active" href="/login">Login</a>
    <a class="nav-link" href="/register">Register</a>
{% endblock %}

{% block content %}
    <form action="/login" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
                <legend class="text-center border-bottom pb-1">Login</legend>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control", placeholder="Email") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control", placeholder="Password") }}
            </div>
        </fieldset>
        <div class="form-group text-center">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <div class="text-center">
        <small class="text-muted">
            Don't Have An Account? <a href="{{url_for('register_route')}}">Register</a>
        </small>
    </div>
{% endblock %}